<!DOCTYPE html>
<html>
<header>
  <title>Angu</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/myMain.css">
  <script src="../javascript/myController.js"></script>
</header>
<body ng-app>
http://www.angularjsbook.com/angular-basics/chapters/basics/
//{{}}
//ng-init
//ng-bind
//ng-non-bindable
//ng-show
//ng-hide
  <p ng-init="authorized = true">
    The secret code is
    <span ng-show="authorized">0123</span>
    <span ng-hide="authorized">not for you to see</span>
  </p>
//ng-click
  <p ng-init="authorized = true">
    The secret code is
    <span ng-show="authorized">0123</span>
    <span ng-hide="authorized">not for you to see</span>
    <br>
    <input type="button" value="toggle" ng-click="authorized = !authorized">
  </p>
//ng-model
  <input type="text" ng-model="title">
  is bound to
  "<strong ng-bind="title"></strong>".
  Type something in the box!


  <input type='checkbox' ng-init='optIn = true' ng-model='optIn'>
  is bound to
  <strong ng-bind="optIn"></strong>.
  Change it!

  <input type='checkbox' ng-init='acb = "love it"' ng-model='acb'
      ng-true-value='"love it"' ng-false-value='"hate it"'>
  is bound to
  "<strong ng-bind="acb"></strong>".
  Change it!


  <select ng-init='answer = "maybe"' ng-model='answer'>
    <option value='yes' selected>Yes</option>
    <option value='no'>No</option>
    <option value='maybe'>Maybe</option>
  </select>
  is bound to
  "<strong ng-bind="answer"></strong>".
  Change it!


    <div ng-init='answer = "maybe"'>
      <input type='radio' ng-model='answer' value='yes'> Yes
      <input type='radio' ng-model='answer' value='no'> No
      <input type='radio' ng-model='answer' value='maybe'> Maybe
      is bound to
      "<strong ng-bind="answer"></strong>".
      Change it!
    </div>
</body>
</html>
